<body
  class="bg-slate-900 leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900"
  cz-shortcut-listen="true"
>
  <div id="__next">
    <div class="__variable_20b187 group/spotlight relative">
      <div
        class="pointer-events-none fixed inset-0 z-30 transition duration-300 lg:absolute"
        style="
          background: radial-gradient(
            600px at 1300px 348px,
            rgba(29, 78, 216, 0.15),
            transparent 80%
          );
        "
      ></div>
      <div
        class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
      >
        <div class="lg:flex lg:justify-between lg:gap-4">
          <header
            class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
          >
            <img
              class="rounded-full h-24 w-24 mb-6 mx-auto md:hidden lg:hidden"
              src="/images/me.jpeg"
            />
            <div>
              <h1 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">
                <a href="/">Jérémy Martin</a>
              </h1>
              <h2 class="lg:mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl">
                Senior Fullstack Engineer
              </h2>
              <p class="mt-4 max-w-xs leading-normal">
                I like to overthink around complex technical subjects.
              </p>

              <nav class="nav hidden lg:block" aria-label="In-page jump links">
                <ul class="mt-16 w-max">
                  <li>
                    <a class="group flex items-center py-3 active" href="#about"
                      ><span
                        class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"
                      ></span
                      ><span
                        class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200"
                        >About</span
                      ></a
                    >
                  </li>
                  <li>
                    <a class="group flex items-center py-3" href="#experience"
                      ><span
                        class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"
                      ></span
                      ><span
                        class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200"
                        >Experience</span
                      ></a
                    >
                  </li>
                  <li>
                    <a class="group flex items-center py-3" href="#projects"
                      ><span
                        class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none"
                      ></span
                      ><span
                        class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200"
                        >Projects</span
                      ></a
                    >
                  </li>
                </ul>
              </nav>
              <div class="flex flex-col justify-between rounded-lg">
                <div class="flex items-center lg:pt-10 md:pt-8 pt-6">
                  <div class="flex items-center h-5 w-5">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg"
                    />
                  </div>
                  <span class="pl-4 text-md text-slate-200">Native</span>
                </div>
                <div class="flex items-center">
                  <div class="flex items-center h-5 w-5">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg"
                    />
                  </div>
                  <span class="pl-4 text-md text-slate-200">C1</span>
                </div>
                <div class="flex items-center">
                  <div class="flex items-center h-5 w-5">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg"
                    />
                  </div>
                  <span class="pl-4 text-md text-slate-200">B1</span>
                </div>
                <div class="flex items-center">
                  <div class="flex items-center h-5 w-5">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Flag_of_Indonesia.svg"
                    />
                  </div>
                  <span class="pl-4 text-md text-slate-200">A2</span>
                </div>
              </div>
            </div>
            <ul class="mt-8 flex items-center" aria-label="Social media">
              <li class="mr-5 text-xs shrink-0">
                <a
                  class="block hover:text-slate-200"
                  href="https://github.com/marsglace12"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub (opens in a new tab)"
                  title="GitHub"
                  ><span class="sr-only">GitHub</span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="h-6 w-6"
                    aria-hidden="true"
                  >
                    <path
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                    ></path></svg
                ></a>
              </li>
              <li class="mr-5 text-xs shrink-0">
                <a
                  class="block hover:text-slate-200"
                  href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-martin-78ba19111/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="LinkedIn (opens in a new tab)"
                  title="LinkedIn"
                  ><span class="sr-only">LinkedIn</span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="h-6 w-6"
                    aria-hidden="true"
                  >
                    <path
                      d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
                    ></path></svg
                ></a>
              </li>
            </ul>
          </header>
          <main id="content" class="lg:pt-24 md:pt-16 pt-8 lg:w-1/2 lg:py-24">
            <section
              id="about"
              class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
              aria-label="About me"
            >
              <div
                class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
              >
                <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">
                  About
                </h2>
              </div>
              <div>
                <p class="mb-4">
                  It was in 2014 that I decided to create my website project to showcase a
                  journalist friend. After five years of study and more than eight years of work, my
                  passion remains intact, and I'm still fascinated by the speed at which my
                  profession is evolving.
                </p>
                <p class="mb-4">
                  What motivates me today is working with motivated people to simplify complex
                  information systems and architectures as much as possible. I love beautiful code
                  as much as I hate technical debt. Despite these years of experience, I'm still
                  learning every day through my work, but above all thanks to all the great
                  developers I've been lucky enough to work with!
                </p>
                <p>
                  Apart from web development, I'm passionate about surfing, which has led me to
                  travel a lot to beautiful countries. I also enjoy (badly) playing guitar and piano
                  from time to time.
                </p>
              </div>
            </section>
            <section
              id="experience"
              class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
              aria-label="Work experience"
            >
              <div
                class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
              >
                <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">
                  Experience
                </h2>
              </div>
              <div>
                <ol class="group/list">
                  <li class="mb-12">
                    <div
                      class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
                    >
                      <div
                        class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
                      ></div>
                      <div class="z-10 sm:col-span-2">
                        <header
                          class="mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500"
                          aria-label="2024 to Present"
                        >
                          2024 — Present
                        </header>
                        <div class="lg:pt-8 md:pt-4 pt-2">
                          <img
                            src="/images/luluberlu.png"
                            alt="Image description"
                            class="rounded-md shadow-md"
                          />
                        </div>
                      </div>
                      <div class="z-10 sm:col-span-6">
                        <h3 class="font-medium leading-snug text-slate-200">
                          <div class="lg:mt-0 md:mt-0 mt-2">
                            <span
                              class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                            ></span
                            ><span>Senior Fullstack Engineer</span>
                            <div>
                              <div class="text-slate-500" aria-hidden="true">Freelance</div>
                            </div>
                          </div>
                        </h3>
                        <p class="mt-2 text-sm leading-normal">
                          Development of websites with strong SEO needs for businesses (restaurants,
                          hotels, etc.). Creation of software building blocks for complex SaaS
                          applications. And finally, a few Angular mentoring missions.
                        </p>
                        <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              JavaScript
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              TypeScript
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              Angular
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              RXJS
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              NGRX
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              NextJS
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="mb-12">
                    <div
                      class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
                    >
                      <div
                        class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
                      ></div>
                      <div class="z-10 sm:col-span-2">
                        <header
                          class="mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500"
                          aria-label="2024 to Present"
                        >
                          2021 — 2024
                        </header>
                        <div class="lg:pt-10 md:pt-6 pt-2">
                          <img
                            src="/images/hermes.png"
                            alt="Image description"
                            class="rounded-md shadow-md"
                          />
                        </div>
                      </div>
                      <div class="z-10 sm:col-span-6">
                        <h3 class="font-medium leading-snug text-slate-200">
                          <div class="lg:mt-0 md:mt-0 mt-2">
                            <a
                              class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                              href="https://www.hermes.com"
                              target="_blank"
                              rel="noreferrer noopener"
                              aria-label="Fullstack developer at Hermes (opens in a new tab)"
                              ><span
                                class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                              ></span
                              ><span
                                >Senior Fullstack developper ·
                                <!-- -->
                                <span class="inline-block">Hermes</span></span
                              ></a
                            >
                          </div>
                          <div>
                            <div class="text-slate-500" aria-hidden="true">Senior Engineer</div>
                          </div>
                        </h3>
                        <p class="mt-2 text-sm leading-normal">
                          Development, with the help of a team of 40 developers, of an e-commerce
                          site for a luxury brand with a strong need for SEO, accessibility and
                          performance. The site has a presence in over 30 countries and is consulted
                          by hundreds of thousands of monthly visitors.
                        </p>
                        <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              JavaScript
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              TypeScript
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              HTML &amp; SCSS
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              RXJS
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              NGRX
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              SCRUM
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              Git
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              Responsive
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              Ecommerce
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              NodeJS
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="mb-12">
                    <div
                      class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
                    >
                      <div
                        class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
                      ></div>
                      <div class="z-10 sm:col-span-2">
                        <header
                          class="mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500"
                          aria-label="2024 to Present"
                        >
                          2016 — 2020
                        </header>
                        <div class="lg:pt-2">
                          <img
                            src="/images/hub3e.png"
                            alt="Image description"
                            class="rounded-md shadow-md"
                          />
                        </div>
                      </div>
                      <div class="z-10 sm:col-span-6">
                        <h3 class="font-medium leading-snug text-slate-200">
                          <div class="lg:mt-0 md:mt-0 mt-2">
                            <a
                              class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                              href="https://ecoles-v2.hub3e.com/login"
                              target="_blank"
                              rel="noreferrer noopener"
                              aria-label="Fullstack developper at Link Part"
                              ><span
                                class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                              ></span
                              ><span
                                >Fullstack web developer ·
                                <!-- -->
                                <span class="inline-block">Link Part</span></span
                              ></a
                            >
                          </div>
                        </h3>
                        <p class="mt-2 text-sm leading-normal">
                          Development of a logically complex SaaS application to connect schools and
                          students on training courses. The front-end was in Angular and the API in
                          Symfony (PHP).
                        </p>

                        <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              Angular
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              Symfony
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              MySQL
                            </div>
                          </li>
                          <li class="mr-1.5 mt-2">
                            <div
                              class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300"
                            >
                              DevOPS
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </section>
          </main>
        </div>
      </div>
    </div>
  </div>
</body>
